.container {
  height: 100vh;
  width: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mainScreenBody {
  width: 100%;
  height: 300px;
  background-color: red;
  color: blue;
  font-size: 40px;
  font-weight: 900;
}

.mainScreenButton {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
}
